.download-wrapper {
  padding: 100px 0 100px;
  text-align: center;

  h2{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin-bottom: 25px;
  }

  p {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 45px;
  }

  .btn-group-lg>.btn, .btn-lg {
    padding: 17px 80px;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 0;

  }

  .btn-primary {
    border: none;
    background-color: $red-color;
  }
}