
.quote-slide {
  background-color: $brown-color;

  blockquote {
    font-family: 'Cardo', serif;
    font-size: 36px;
    font-style: italic;
    line-height: 45px;
    color: $white-color;
    padding: 200px 300px 40px 85px;
  }

  cite {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: $white-color;
    padding-left: 85px;

  }
}

.slider-quote .slick-dots {
  bottom: 80px;
  left: 320px;
}

.slider-quote .slick-dots li button::before {
  color: $white-color;
  font-size: 13px;
}

.slider-quote .slick-dots li.slick-active button:before {
  color: $white-color;
}

.slide {
  display: flex;
}
 .img-slide {
  width: 50%;
}
.quote-slide {
  width: 50%;
}

