/*--- Colors ----*/
$white-color:#ffffff;
$light-grey-color:#d7d8db;
$grey:#858a8f;
$purple-color:#4f5268;
$red-color:#e84545;



/*--- Fonts ----*/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');





/*--- Background ----*/







